[2013-06-20 17:20] deontologician opened #4 "Buffering and child process for sending to keen"
Right now, a new connection to keen.io is made on every add_event call. This can get expensive when sending on each completed web-request for example. I'm not sure if this can be accomplished entirely with persistence strategies, but it would be nice to use a second process to handle the io, and the main process (the one calling keen.add_event) just puts events into a queue, so that it isn't block

[2013-08-09 11:08] shon opened #6 "add_events API"
README has example of add_events api but seems that API is not implemented available. I tried current version on pypi as well as github source.

[2013-08-13 10:20] daredevildave opened #7 "No target_property argument for count()"
The count() method in client.py doesn't have an option for a target_property. All other API methods do.

[2013-08-13 17:55] #7 closed, assigned to nobody

[2013-10-29 04:15] rcoup opened #8 "multi_analysis() should accept interval parameter"
`keen.multi_analysis()` and `Client.multi_analysis()` both don't take an `interval` parameter, but it's [valid for the API](https://keen.io/docs/data-analysis/multi-analysis/):

[code]

[2013-10-29 18:02] #8 closed, assigned to nobody

[2013-11-29 14:59] daredevildave opened #9 "Asynchronous API"
Given the recent outage, using blocking calls to the Keen API from python is not an ideal solution. Even handling the exceptions means requests on our end can take minutes to complete while waiting for a timeout.

Any progress on an async API?

[2014-02-01 21:35] klinkin opened #12 "TypeError Exception."
My event obj is like this:
<code>{'user_id': 0,
    'updated_by': None,
    'created_at': datetime.datetime(2014, 1, 10, 9, 11, 19, 950883),
    'lon': 37.617633,
    'updated_at': datetime.datetime(2014, 1, 10, 9, 11, 19, 950926),
    'created_by': None,
    'uddi': u'',
    'radius': 5,
    'lat': 55.755786,
    'query': u'\u041a\u043e\u043b\u0431\u0430\u0441\u0430', 'id': 1}</code>

If i try ad

[2014-02-02 00:25] klinkin opened #14 "Command "python setup.py test" not found."
Using distutils in setup.py in 2014 is bad idea...
See recommendation https://python-packaging-user-guide.readthedocs.org/en/latest/current.html#packaging-tool-recommendations

I will prepare PR for this.

[2014-02-28 20:41] rebeccastandig opened #19 "Expose more of the functionality of Keen IO"
Basically I'd just like to add the ability to use all of the resources from the API technical reference through Python (https://keen.io/docs/api/reference/)

[2014-05-03 23:13] hefox opened #21 "Formatting issue in documentation of filters"
Every where that mentions filters use: **{[**"property_name":"device", "operator":"eq", "property_value":"iPhone"}]

Should use: **[{**"property_name":"device", "operator":"eq", "property_value":"iPhone"}]

I am guessing (new to python).

It'd be nice if there was an example using filters also.

[2014-05-08 01:39] #21 closed, assigned to nobody

[2014-07-24 17:16] gtaylor opened #26 "Allow setting custom serializers"
We've got some output from DRF in dict form that has some datetime/date objects in it. DRF has a JSONRenderer class with some custom handlers for both of these, which is super handy. Keen's client, however, doesn't (that I can see).

This means we end up JSON encoding the DRF data structures, then json.loads() to get them all back in string form, then handing that off to Keen to serialize yet agai

[2014-09-16 16:56] steve500002 opened #29 "Add support for median / percentile queries"
Currently the median / percentile queries are not supported by the python api.

[2014-11-05 16:56] efuquen opened #31 "Better Error Checking"
Currently the KeenAPI class will just check status code != 200 for errors.  When using the bulk add_events functionality the API will return 200 when malformed JSON is submitted (as well as for a number of other reasons).  The error messages are in the payload of the HTTP API.  This should be returning any errors in the payload or Keen's HTTP API should not be returning 200 (preferably both, as re

[2014-11-19 14:47] brettatoms opened #32 "Errors responses not always JSON"
This line gives an error if the response isn't JSON:

https://github.com/keenlabs/KeenClient-Python/blob/master/keen/api.py#L156

For example when I submitted a filter where the property_value was a list with 1000 items the Keen API returns a 414 which causes crash on that line.  The crash gives no indication of what the error other than a JSON parse error.

[2014-11-23 20:07] dkador opened #33 "Support "max_age" param for caching"

[2014-12-05 23:44] #33 closed, assigned to nobody

[2015-01-11 19:11] DenisCarriere opened #38 "Latest requests module causing errors in Keen"
I get this error when running the code using the latest `requests` module already installed

I can set up a virtualenv and only installed the specific request version and the Keen API will start work, however it would be nice to have it work using the latest Request module.

Cheers,

[code]

[2015-01-14 14:19] DenisCarriere commented on #38
Might of been my build, I am not having that error any more.

[2015-01-14 14:19] #38 closed

[2015-01-14 20:03] rebeccastandig opened #39 "PoolManager is not importing properly from requests.packages.urllib3.poolmanager"
A user reported this issue when attempting to import the python client:

[code]

From what I can tell from [this issue](https://github.com/mk-fg/python-onedrive/issues/13), which was supposedly fixed almost a year ago, it seems like requests has issues importing urllib3. I suspect if we simply require urllib3 and import PoolManager from there it will fix this. When I looked at the [code base for r

[2015-01-14 20:15] rebeccastandig commented on #39
Uh it just occurred to me that the version of requests we're using was released before that issue was fixed. Perhaps all we have to do is upgrade requests.

[2015-01-14 21:50] rebeccastandig commented on #39
We have been unable to reproduce this error.

[2015-01-15 06:22] Dareen commented on #39
we have fixed this by adding requests to our requirements file and forcing its version to 2.5.1

[2015-01-15 06:38] rebeccastandig commented on #39
Delightful. Thanks for the feedback! We will be releasing a new version with that fix shortly.

[2015-01-15 16:59] #39 closed

[2015-01-26 20:21] peplin commented on #12
It'd be really great if we could pass in a custom JSON encoder. Some of our events include datetimes that we want to serialize to ISO-8601 strings, but we have to pre-process them in order to send to this library's post_events function.

[2015-01-30 20:54] phalt opened #44 "keen.status() method"
Keen.io has had a lot of outages on the query service recently, leading to some issues on the services that rely on keen.io data. Can we include a ```keen.status()``` method or similar in this library to ping the service to check for issues?

[2015-01-30 21:15] #44 closed

[2015-02-01 04:31] stroud109 commented on #6
Sorry for the radio silence. `add_events` was implemented on 5/13/2013 in 57a7b1c3 -- if this isn't what you meant, let me know.

[2015-02-01 04:31] #6 closed

[2015-02-06 22:55] stroud109 commented on #29
Both median and percentile queries are supported, as of version 0.3.8.

[2015-02-06 22:55] #29 closed

[2015-02-06 22:57] stroud109 commented on #14
`$python setup.py test` is supported in version 0.3.8.

[2015-02-06 22:57] #14 closed

[2015-03-14 22:30] citynorman opened #50 "import error urllib3 and persistence_strategies"
Hello boys&girls,

trying to use the python API but stuck at the import stage. When I run "import keen", get below errors. Any help would be great! Thanks!

Did easy_install keen or pip install keen
Python 2.7.8
Ubuntu 14.10 / Ubuntu 14.04.1 LTS

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "build/bdist.linux-x86_64/egg/keen/__init__.py", line 2, in <module>
  Fi

[2015-03-17 01:06] stroud109 commented on #50
Hey @citynorman, sorry about the error :( Any chance you could tell me what version of the `requests` lib you're running?

[2015-03-17 01:15] citynorman commented on #50
No probs, hope it will make your awesome service better for everyone!

Using requests==2.2.1, full pip freeze below.

apt-xapian-index==0.45
Babel==1.3
blinker==1.3
chardet==2.0.1
Cheetah==2.4.4
cloud-init==0.7.5
colorama==0.2.5
configobj==4.7.2
coverage==4.0a5
decorator==3.4.0
Flask==0.10.1
flask-appconfig==0.9.1
Flask-Babel==0.9
Flask-Bootstrap==3.3.0.1
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flas

[2015-03-17 01:32] stroud109 commented on #50
Hm, seems like `pip install keen` doesn't automatically grab the latest version of requirements. I'll work on changing that.

Meanwhile, if you run `pip install requests==2.5.1` do you still see the error?

[2015-03-17 01:34] citynorman commented on #50
yay it works now!

On Mon, Mar 16, 2015 at 9:32 PM, Stephanie Stroud <notifications@github.com>
wrote:

--
________________________
Norman Niemer
citynorman@googlemail.com
*+1 (917) 436-0963*

[2015-03-17 01:43] stroud109 commented on #50
Woohoo! Glad to hear it :smile: Thanks so much for reporting.

I'll close this ticket when we fix the setup.py issue.

[2015-03-21 19:38] stroud109 commented on #50
Fixed this issue in 0.3.11

[2015-03-21 19:38] #50 closed

[2015-03-22 21:50] kevinastone opened #54 "Unpin Requests Version in requirements"
Trying to use keen in a project that already requires certain versions of `requests` (`>=2.5.2` in my case).  Pinning to an exact version of requests creates conflicts.  Please only constrain to a minimum version based on the functionality used rather than pinning the exact version.

I'd expect a library to be more flexible in which versions of requests it supports.

[2015-03-22 22:32] stroud109 commented on #54
Good point. PRs happily accepted if you need this to change this weekend. Otherwise, I'll add this to the TODO list for upcoming changes.

[2015-03-23 01:52] #54 closed

[2015-03-30 03:23] kgf opened #58 "pip install fails on RPi"
Attempting to pip install on Raspbian for IoT.

python --version
Python 2.7.3

pip --version
pip 1.1 from /usr/lib/python2.7/dist-packages (python 2.7)

Here is the output
pip install keen
Downloading/unpacking keen
  Downloading keen-0.3.12.tar.gz
  Running setup.py egg_info for package keen
    Traceback (most recent call last):
      File "<string>", line 14, in <module>
      File "/home/pi/bu

[2015-03-31 01:27] kgf commented on #58
Here is the data from ~/.pip/pip.log

pi@sbc-pi-01 ~ $ cat ~/.pip/pip.log
Downloading/unpacking keen

  Getting page http://pypi.python.org/simple/keen
  URLs to search for versions for keen:
  * http://pypi.python.org/simple/keen/
  Getting page http://pypi.python.org/simple/keen/
  Analyzing links from page https://pypi.python.org/simple/keen/
    Found link https://pypi.python.org/packages/sour

[2015-03-31 04:20] stroud109 commented on #58
Hey @kgf, sorry you're experiencing this issue. Any chance you could update your version of `pip` and check if you still experience problems installing Keen? (Looks like pip 1.1 is from 2012 and doesn't support the "session" kwarg for [parse_requirements](https://github.com/pypa/pip/blob/1.1/pip/req.py#L1238).) Also, what version of Raspbian are you running? Thanks so much!

[2015-04-01 23:45] jdunck opened #59 "CircleCI + KeenClient-Python"
When installing a recent keen python client on CircleCI under python 2.7.9, I ran into an error.

 Circle's 2.7.9 virtualenv is using pip 1.4.1, which is truly ancient, but CircleCI is a pretty popular build environment.  I think an appropriate fix would either be to try/except in the setup.py around parse_requirements, or to document this specific error with the workaround suggestion of upgrading

[2015-04-01 23:46] jdunck commented on #59
Here's the install failure on a vanilla VM of CircleCI w/ python 2.7.9.  Any pip < 1.5 would be similarly affected:

[code]

[2015-04-01 23:50] jdunck commented on #59
Here's a workaround for anyone running into the failure.  On Circle, you can also specify the pip upgrade in the dependencies:/override: section of a custom circle.yml.

[code]

The circle.yml section that would automate the workaround:

[code]

[2015-04-03 22:42] stroud109 commented on #59
Hey @jdunck! Thanks so much for the description and proposed solution -- both make sense. Any chance you could submit a PR? I'll try to get it merged in next week :smile:

[2015-05-04 19:05] stroud109 commented on #59
Updated in #61

[2015-05-04 19:05] #59 closed

[2015-05-04 19:06] stroud109 commented on #58
Updated in #61

[2015-05-04 19:06] #58 closed

[2015-05-26 00:19] jdunck commented on #9
How about this - if KeenClient is constructed with asynHow about this - if KeenClient is constructed with async=True, a daemon thread is started, and all requests are queued to that thread, which actually makes the requests -- each .add_event would return a handle which could be .wait'ed upon, and KeenClient would grow a `.drain` or `.await` method for .join()'ing the daemon on container terminati

[2015-06-02 16:44] justmobilize opened #64 "pycrypto version"
Currently you are requiring pycrypto==2.6, yet 2.6.1 is current. can you update this to 2.6 as a min version? I feel it's important that crypto libraries are always allowed to be up to date.

[2015-06-03 20:13] tushdante opened #67 "add events go through even with a bad master key"
This is the code I've used

[code]

It turns out that the `add_event` will go through successfully even with a bad master key. I haven't played around enough to see if the events are written to my project, but even if they're not I think we should be returning an exception for this.

[2015-06-03 21:01] joshukeen commented on #67
Could you confirm that you provided a working write key and an incorrect master key? In the case that an incorrect master key is provided as well as a correct write key, Keen Client shouldn’t even notice that the master key is incorrect, because the more restricted write key should be used first according to the principle of least privilege ([for more on PoLP, Wikipedia says it better than I know

[2015-06-03 21:48] tushdante commented on #67
@joshukeen I did use a valid write key with an incorrect master key, and the events went through fine. Feel free to try this on your own. I understand the PoLP, but perhaps we should make this a discussion of using a master key as a fallback in the case of an incorrect write key.

@jdunck @stroud109  any comments?

[2015-06-04 01:14] hex337 opened #68 "Expose actors for the funnel functionality"
Right now you can't get he full return for a funnel query (no actor ids).

[2015-06-04 01:33] hex337 commented on #68
This was an issue in the Keen gem as well, which got fixed here:

[https://github.com/keenlabs/keen-gem/commit/7b57308182c69469093314d1b786a2b4a7a3c383](https://github.com/keenlabs/keen-gem/commit/7b57308182c69469093314d1b786a2b4a7a3c383)

[2015-06-04 15:40] jdunck commented on #64
Justin, in #69, I've changed the reqs to allow floating through the 2.6.x line.  I agree crypto should be latest, but also we need to test new, possibly-incompatible versions.  Do you agree with this balance, or do you feel strongly that the version should be unpinned, risking future failure with incompatible versions?

[2015-06-04 16:03] jdunck commented on #67
It looks like the code to include master_key is fairly new:

a686784cedda33bac30986035f98b97320cfb8c4 reset Client settings before test
7176dbda9a05151da3eb94f981c3c43e035bbf07 add some more tests
7483461c82800561819156e28c1ef393d6e056dd Bumped up the version.
94d1f4effd85475f6f48fedd32b3c8698e8ecb80 add test for creating new Client instance
dcf76007dc1d12f219eb2d5d6eca10ac62a2f58e update Document

[2015-06-04 16:29] justmobilize commented on #64
Jeremy, I think that works great. I trust that revisions don't add breaking changes, but know that major and minor might. Thanks for your quick reply!

-Justin

-----Original Message-----
From: "Jeremy Dunck" <notifications@github.com>
Sent: ‎6/‎4/‎2015 8:40
To: "keenlabs/KeenClient-Python" <KeenClient-Python@noreply.github.com>
Cc: "Justin Myers" <justin@jmdevs.com>
Subject: Re: [KeenClient-Pytho

[2015-06-04 17:48] tushdante commented on #67
Well since the docs specifically ask for a user to set their master key as an ENV variable, we already know it exists. I think that's why it would make sense to add the fallback approach. I do agree we should figure out why it was partially implemented first.

[2015-06-12 00:02] #31 closed

[2015-06-13 06:40] tushdante commented on #68
Would an appropriate way to fix this just add an extra param to the function? Something like `:all_keys` referenced in the commit? If its set we return the entire response, if not just the "result" key

[2015-06-15 16:23] stroud109 commented on #68
Yeah, sounds good. I think following the example set in the Keen gem makes sense in this case.

[2015-06-30 21:56] stroud109 commented on #68
Closing this since we now have an "all_keys" param #70

[2015-06-30 21:56] #68 closed

[2015-06-30 21:58] #64 closed

[2015-06-30 22:33] stroud109 commented on #19
Closing this issue so we can break it out into more specific requests.

[2015-06-30 22:33] #19 closed

[2015-07-04 17:00] marshyski opened #74 "Add requests SSL packages to README"
In order for keen client to run for me, I had to install extra requests packages:

pyasn1
ndg-httpsclient
pyOpenSSL

[2015-07-14 16:21] stroud109 commented on #74
Hey @marshyski, thanks for posting this issue! I haven't encountered this one before. Any chance you could give me a bit more info? Was your version of python compiled with SSL?

[2015-07-14 21:43] marshyski commented on #74
@stroud109 Are you calling me a liar?  JK ^_^

Fedora 20, Digital Ocean, Python 2.7.5, Python Built with SSL = yes

http://stackoverflow.com/questions/29099404/ssl-insecureplatform-error-when-using-requests-package

[2015-07-28 03:05] stroud109 commented on #74
@marshyski Thanks so much for the added context! I can see now that you're telling the truth :wink:

It's helpful to know that this is an issue that applies to python < 2.7.9. I'll update the README with this info. If you think this issue requires a different solution, pull requests are gladly accepted.

[2015-08-05 23:50] PeterNachbaur opened #76 "Setting custom timestamp breaks Data Enrichment Addons"
The SDK overrides the entire "keen" dict when adding in a custom client-defined keen.timestamp. This removes any user supplied Data Enrichment addons, which use the "keen" dict.

https://github.com/keenlabs/KeenClient-Python/blob/master/keen/client.py#L40
https://keen.io/docs/data-collection/

Fix should add the custom timestamp to the "keen" dict if it exists, instead of overriding it.

Shoutout

[2015-08-20 17:30] #74 closed

[2015-08-20 17:32] stroud109 commented on #74
Added a comment in the Installation section in 425f5b0

[2015-08-20 17:32] stroud109 commented on #76
This issue was fixed in #77

[2015-08-20 17:32] #76 closed

[2015-10-08 20:31] ryancbuckley opened #80 "Docstring examples have bad syntax"
Many of the docstrings in `__init__.py` include the string:

[code]

The opening curly brace and bracket need to be flipped, as in
[code]

[2015-10-14 17:56] stroud109 commented on #80
Good eye @ryancbuckley! I'll get that cleaned up soon.

[2015-10-14 21:15] #80 closed

[2015-11-20 00:40] sinneduy opened #84 "Allow Client to be initialized with base_url specified?"
https://github.com/keenlabs/KeenClient-Python/blob/master/keen/__init__.py#L14-L31

[2015-11-20 01:16] sinneduy commented on #84
https://github.com/keenlabs/KeenClient-Python/pull/85

[2015-11-25 01:07] #84 closed

[2016-03-06 15:44] anmolonruby opened #88 "Import error issue in Python 3.5"
I am trying to run the basic example of add_client in your README, I am getting the following error:

`from keen.client import KeenClient
ImportError: No module named 'keen.client'; 'keen' is not a package`

I have already ran `pip3 install keen`. I have Keen version 0.3.20

[2016-03-08 01:36] stroud109 commented on #88
Hi there, sorry that you're having trouble getting set up :( This client is not currently supported in python 3.5 -- we do support 2.6, 2.7, 3.2, 3.3 and 3.4.

[2016-03-14 19:02] kennygoff opened #90 "New projects have 64-byte master keys, pycrypto supports only 16/24/32-byte AES"
Generating scoped keys is breaking on newer projects, as the master keys are now 64-byte. They seemed to have changed from 32-byte keys in the past few months. I created a project a month or two ago that has a 32-byte key, and year+ old projects have 32-byte keys. Only the newer one from a week or two ago has 64-byte.

[code]

Exception being thrown:
`ValueError: AES key must be either 16, 24, or

[2016-03-14 19:39] stroud109 commented on #90
Hi Kenny, sorry that you're experiencing this issue :( I'll dig into it soon and let you know when there's a fix.

[2016-03-15 21:27] #90 closed

[2016-03-15 21:32] stroud109 commented on #90
Hey @kennygoff, let me know if the latest version of the SDK works for you!

[2016-03-16 15:10] kennygoff commented on #90
Yep, works perfectly! Thanks @stroud109 and @dkador.

[2016-03-16 15:13] stroud109 commented on #90
Glad to hear it @kennygoff! Thanks for letting us know :)

[2016-03-16 23:18] jchen123 commented on #32
Yep.  We get garbage like

Error from Keen API. Details:
 Message: The API did not respond with JSON, but: ""
Code: InvalidResponseFormat

[2016-04-26 21:02] ReedJessen commented on #88
Hi stroud109,

Does you team have thoughts about making a Python 3.5 support version of the client?  It would be really helpful for our team.

[2016-04-26 22:49] stroud109 commented on #88
Hi @ReedJessen and @anmolonruby, I just added support for python 3.5 in #92. Cheers!

[2016-04-26 22:49] #88 closed

[2016-05-05 21:57] stroud109 commented on #32
Hey @jchen123, sorry that you're seeing an unhelpful error message. I haven't been able to reproduce the issue on my end yet. Can you let me know what version of the SDK are you using, and what kind of query you're trying to run?

[2016-05-05 22:06] jchen123 commented on #32
Sure, we are using keen==0.3.21

keen.extraction(<property name>", property_names = '<one property name>', timeframe = <an absolute time frame of 1 day in length>, filters=<various filters>)

[2016-05-05 22:18] stroud109 commented on #32
Thanks for the added context, @jchen123. How many property names and filters are you passing in? What timeframe are you using?

[2016-05-05 23:29] jchen123 commented on #32
Count Error:
    timeframe = {
        'start': '2016-01-27',
        'end': '2016-01-28'
    },
    filters = 1 equality filter

Count Unique Error:
    timeframe = {
        'start': '2016-04-24',
        'end': '2016-04-25'
    },
    filters = 1 equality filter

Extraction error
    timeframe = {
        'start': '2016-04-07',
        'end': '2016-04-08'
    },
1 equality filter, 1 exists filt

[2016-05-09 17:39] stroud109 commented on #32
Thanks for the query info, @jchen123. Looks like you're experiencing a different issue than brettatoms (who has a [query optimization](https://keen.io/guides/query-performance/) issue). Are you still experiencing seemingly random errors without any message body? If so, could you let me know how often that's happening?

[2016-05-09 17:40] jchen123 commented on #32
Upon further review it appears that it happens quite randomly throughout the day.  It also appears that it usually doesn't fail upon retry.  So we've just added retry logic to all of our querying.

[2016-05-09 17:43] brettatoms commented on #32
@stroud109 Just to be clear, my issue wasn't whether I could send a giant query or not but rather when an error is returned it is handled gracefully.  Basically the SDK expects JSON responses but JSON responses aren't always returned.

To be honest I haven't really checked if this issue is still a problem over the past few months.

[2016-05-10 20:23] stroud109 commented on #32
Understood, brettatoms. We try to return `res.json()` and fall back on returning a formatted error that includes `res.text`. Unfortunately, there are sometimes errors with no message body. To account for those cases, I just added `res.status_code` to the formatted error. Hopefully exposing the status code will help troubleshoot future errors.

[2016-08-30 15:26] irothschild opened #100 "Padding requirement"
Now that Padding.py is included in this module to support Python 3, I think it should be removed from the requirements.txt.

PR https://github.com/keenlabs/KeenClient-Python/pull/101

[2016-08-31 19:53] irothschild commented on #100
Can someone please merge this pull request and release a new version that can pip install on Python 3 without giving errors when running compileall? Thanks.

[2016-08-31 22:23] dkador commented on #100
This should be all fixed now.

[2016-08-31 22:23] #100 closed

[2016-09-15 14:05] k2xl commented on #9
Any progress or work arounds to get async event publishing?

[2016-09-19 04:28] dkador commented on #9
Nothing yet. We're always looking for customer input - what would be your preference in terms of how this would be implemented?

[2016-09-21 19:52] k2xl commented on #9
So I'm not so privy on how things are done in the backend with Keen (are events sent thru a persistent TCP or just regular HTTP?)

My recommendation would be the natural one - just spawn a thread when async is called.

def async_publish(args):
        t = threading.Thread(target=publish_event, args=args)
        t.start()

[2016-09-21 20:16] dkador commented on #9
Thanks for the response.

Events are sent to us over regular HTTP (well, HTTPS, hopefully).

Do you care about knowing if your event was safely persisted? Is fire-and-forget good enough? If not, would you want a callback? A future-based interface?

[2016-09-21 20:56] jdunck commented on #9
In my experience, a safer approach is to start a single thread which fetches from a queue and makes the reporting request.  The main thread just adds events to the queue.  This way you don't have a concurrency problem around shared state, and if a lot of events are generated all at once, it gets smoothed out rather than creating a ton of concurrent requests to upstream.

[2016-09-23 17:19] k2xl commented on #9
^ What @jdunck said sounds better than what i was suggesting. It's usually how i would code these things in Golang. With python you can probably use a generator in the thread.

Fire and forget is good enough for me. Passing a callback could be helpful

[2017-01-19 18:51] josephwegner commented on #4
Closing, stale ticket. If you're still having issues, feel free to let us know and we can reopen.

[2017-01-19 18:51] #4 closed

[2017-01-19 18:55] josephwegner commented on #12
Gonna close this, as it has become quite stale. I'm gonna stick with @sgammon's suggestion, but dropping an `.isoformat()` on the end of the datetime properties.

Fwiw, we also recently added a Datetime Enrichment addon, which may be helpful: https://keen.io/docs/api/#datetime-parser

[2017-01-19 18:55] #12 closed

[2017-01-19 18:57] josephwegner commented on #26
Gonna close this, as it has been stale for awhile. If @gtaylor or other issues are having this issue, please respond here and we can reopen.

[2017-01-19 18:57] #26 closed

[2017-01-19 18:58] josephwegner commented on #32
Closing now, in hopes that the solution in #93 is sufficient. Feel free to respond back here if you are having further issues, and we can reopen.

[2017-01-19 18:58] #32 closed

[2017-01-19 19:04] josephwegner commented on #67
This is old enough that I'm going to go ahead and assume we will never know why it was partially implemented. If that was all the new information, I'd advocate for removing all references to the master key.

HOWEVER, we have recently added some new API features that rely on the master key. We will be adding those to the Python SDK soon, so the existing framework around master keys will be useful.

[2017-01-19 19:04] #67 closed

[2017-01-19 19:06] josephwegner opened #106 "De-emphasize master key usage in the README"
The master key is the most sensitive API Key available in Keen, and I would like to make it clear in the docs that it is not required for most cases.

I'd suggest removing all references to the master key in the README, aside from:
- The one in the "Usage" section, near the top. Leave that reference, but add a comment `# not required in most situations`
- It can remain in sections of the docs that

[2017-01-19 19:10] josephwegner opened #107 "Add docs for Data Enrichment"
Data Enrichment is a super useful feature when sending events to Keen IO. You can see more about it here: https://keen.io/docs/streams/data-enrichment-overview/. It would be super helpful in the **Send Events to Keen IO** section.

In the past, I started docs for it, but I never finished and got a pull request merged, so here are some docs I wrote that you can choose to work off of:

(@tbarn: copy

[2017-01-19 19:12] josephwegner opened #108 "Add support for Datasets"

[2017-01-19 19:14] josephwegner opened #109 "Add support for Access Keys"

[2017-01-19 19:14] josephwegner opened #110 "Add support for project creation"

[2017-01-19 19:14] josephwegner opened #111 "Add support for proxying"

[2017-01-19 20:43] josephwegner opened #112 "Warn users if they are using the master key when they shouldn't"
Right now if the user puts in a master key, but not the correct (read or write) key, we throw a generic error. We should specifically check to see if a master key is available if read/write are unavailable, and throw a different error if so. I **do not want** to fall back on the master key, but I *do* want to explicitly inform the user that the master key shouldn't be used for lower privilege endp

[2017-01-19 20:46] josephwegner opened #113 "Add a debug mode"
Mostly more verbose logging. Open to other suggestions for debug mode as well.

[2017-01-19 20:47] josephwegner commented on #107
#105 will close this

[2017-02-23 19:26] clarkenciel opened #116 "Install through pip fails due to VERSION and REAMDE.rst file reads"
Trying to install keen through pip fails. `setup.py` is unable to find VERSION or README.rst. This seems to be related to how and where pip runs a package's setup.py script.

The line [here](https://github.com/keenlabs/KeenClient-Python/blob/master/setup.py#L29) is the culprit: the VERSION file cannot be found in whatever directory pip is calling the script from.

[This line](https://github.com/ke

[2017-02-23 19:29] clarkenciel commented on #116
fixed as i was writing this!

[2017-02-23 19:48] dkador commented on #116
thanks for the quick report! should be fixed with 0.3.30 now. :) sorry for the hassle!

[2017-03-06 21:57] dperconti commented on #116
Still seeing this error with 0.3.30:

`IOError: [Errno 2] No such file or directory: './VERSION'`

[code]

`pip freeze` results in `keen==0.3.30`

[2017-03-06 22:14] dkador commented on #116
sorry to hear that! is this during `pip install`? i just did a `pip install keen` in a fresh virtualenv and it worked for me, so maybe something else is going on. if you can give me some more details on your environment (python version especially), we can track this down.

[2017-03-06 22:33] dperconti commented on #116
`Python 2.7.11`
`pip 9.0.1`

[2017-03-06 22:50] dkador commented on #116
hm. i'm having difficult reproducing. to demonstrate what i see:

[code]

what's the output of your `pip freeze`?

what OS are you on?

[2017-03-06 22:54] masojus commented on #116
Yeah I too am seeing this after both upgrading and uninstalling/fresh-installing keen to 0.3.30--no VERSION file. @dkador should the setup.py be specifying `include_package_data=True` to include the files listed in `MANIFEST.in` or explicitly listing the `VERSION` file in the `package_data` so as to not install the readme/license/requirements? My understanding is that MANIFEST.in works for sdist,

[2017-03-06 22:56] dkador commented on #116
thanks for the report, @masojus! there's clearly something wrong here. i'd just love to be able to reproduce it myself so i can verify there's a fix.

i think you're on the right path. the `VERSION` file is definitely the culprit, somehow.

what OS are you on?

[2017-03-06 23:02] masojus commented on #116
I'm on Windows 10, pip 8.1.2, running this test in Python 2.7.10. But the `site-packages/keen` dir has no VERSION (or any of the files listed in MANIFEST.in) which supports my hypothesis. Also, the [distutils docs](https://docs.python.org/3.4/distutils/sourcedist.html#specifying-the-files-to-distribute) mentions that only the sdist processes that manifest. See more [here](https://setuptools.readth

[2017-03-06 23:04] dkador commented on #116
ok. could you try pulling master here and running `python setup.py sdist`? i'm curious if this is a windows thing. that's my best guess at this point since it works on my mac. we'll fix it no matter what, but hopefully that could isolate the issue for us.

[2017-03-06 23:10] dperconti commented on #116
MacOS Sierra, 10.12.3

pip freeze:
[code]

[2017-03-06 23:16] dperconti commented on #116
Here's my reproduction steps:

[code]

[2017-03-06 23:20] dkador commented on #116
thank you!

[2017-03-06 23:55] #116 closed

[2017-03-07 00:00] dkador commented on #116
@dperconti - i /believe/ that `0.3.31` should put this to bed. would you mind giving it a shot?

[2017-03-07 00:09] ajabogdanoff commented on #116
👍

[2017-03-12 06:27] masojus opened #119 "saved_queries.create() raises KeenApiError"
When attempting to create a Saved Query by passing in a dict representing the query attributes, the SDK fails unless one passes that dict as a json-formatted str. This differs from other parts of the SDK like ```add_event()```. The solution is to do as ```KeenApi.post_events()``` does and call ```json.dumps()``` to format the dict properly for a PUT body before passing it as the ```data``` argumen

[2017-03-22 05:01] masojus commented on #119
Fixed by Pull Request #120

[2017-03-22 05:01] #119 closed

[2017-03-22 05:41] masojus commented on #106
Fixed by Pull Request #122

[2017-03-22 05:41] #106 closed

[2017-03-22 05:42] masojus commented on #112
Fixed by Pull Request #121

[2017-03-22 05:42] #112 closed

[2017-04-01 09:02] masojus commented on #111
To be clear, we need to support setting the root authority to something other than https://api.keen.io. Adding support for true HTTP proxying should/will be a separate issue. This way a given client can leverage the custom SSL domains feature via a CNAME record. This should work with HTTP proxying as well, of course.

[2017-04-03 12:28] tadas-subonis opened #125 "Library does networks requests on the main thread and errors aren't handled"
If the call .add_event() fails due to the connectivity issues to your servers or some other reason, it will throw an exception that will kill the thread that called it.

This is something you want to avoid for a tracking library - I want my services to still work even if your servers are down or unreachable to some other reason.

Now, I have to rely on using a ThreadPoolExecutor with try ... excep

[2017-04-18 08:44] masojus commented on #125
It sounds like half of the problem is Issue #9 and the other half is due to holes in error handling. Correct? So initially the latter is going to be easier to correct as a mitigation, but Issue #9 will still need to be addressed.

[2017-04-18 08:45] tadas-subonis commented on #125
@masojus Yes. To me, The core issue is the calls blocking main thread.

[2017-04-18 08:50] masojus commented on #125
@tadas-subonis Ok, good to know. Issue #9 is pretty stale, but it might merit a bump in priority. Thank you for the input.

[2017-05-17 04:02] masojus opened #126 "Travis CI fails installing pycryptodome on Python 3.2"
On 4/18/17, against commit 476c00f, the 3.2 [job](https://travis-ci.org/keenlabs/KeenClient-Python/jobs/223056133) worked just fine:
[code]
...but then with no changes, on 5/16/17, against commit 6a13679, the 3.2 [job](https://travis-ci.org/keenlabs/KeenClient-Python/jobs/233076028) failed while installing `pycryptodome`:
[code]

There is also a new note from Travis that says this environment chan

[2017-05-17 21:50] masojus opened #128 "Saved Query partial update of nested array"
Investigate what happens when trying to do an update of a Saved/Cached Query definition such that an element in a nested array is the target of the update. Filters, Funnel Steps and Group By parameters come to mind.

I suspect that right now this works if your target update is the entire array, and you set an entire new list as Filters or Funnel Steps or  Group By params. Right now I think when `_

[2017-05-18 02:20] baumatron commented on #126
I think [this issue](https://github.com/pypa/setuptools/issues/864) and [corresponding change](https://github.com/pypa/setuptools/commit/b47fe15b9039a165589353a1a43f6dfe3bbe3a8e) probably just made it into the travis image and that's what broke us. If setuptools doesn't support 3.2, then I'd say neither can we.

[2017-05-18 02:59] baumatron commented on #126
This change will fix the failure by installing setuptools<30 for Python 3.2 if we decide to continue support: https://github.com/keenlabs/KeenClient-Python/commit/9c16734d34773910a1935f203b33f50b800e76ae

[2017-05-18 03:13] masojus commented on #126
Thanks @baumatron! I'll keep it for now and open a bug so we can have a larger discussion about 3.2 support.

[2017-05-18 04:06] masojus commented on #126
I incorporated @baumatron's change with 6befef0 so 3.2 testing is alive as it stands today. Closing this Issue.

[2017-05-18 04:06] #126 closed

[2017-05-18 04:20] masojus opened #129 "Deprecate Python 3.2 Support"
Problems described in Issue #126 are a result of a larger issue, as demonstrated in the links mentioned by @baumatron in that bug. Namely, that pip and [setuptools](https://github.com/pypa/setuptools/issues/864) dropped support for Python 3.2. Should we follow suit?

We could just drop 3.2 from the Travis config and remove mentions of it in the README and setup.py classifiers, if that's the case.

[2017-07-17 21:29] hex337 opened #130 "Add support to POST a query"
Right now, all queries are sent via a GET, which can have limits on its length. Would be great to have the option to POST a query with the params in the body.

[2017-07-25 19:04] mrname opened #131 "pycryptodome as optional requirement"
The cryptography library used (pycryptodome) is not pure python. As such, it requires a C compiler, and can also create problems running WSGI apps unless the `WSGIApplicationGroup` is set properly. It looks like this dependency is only required for scoped keys, an optional feature that is not required for all use cases.

Would it make sense to let this be optional and throw an exception if somebod

[2017-08-02 22:00] craigds commented on #129
Not sure about progress on this, but IME it's very rare for libraries to support python 3.2, and I doubt you've got [m]any users still using it. Most apps switching to python 3.x went directly to 3.3+ because of the reintroduction of `u''` literals.

Looks like python 3.2 support is the reason this library is pinning our `requests` version to `<2.11` so we'd appreciate that being dropped so we can

[2017-08-02 22:04] dkador commented on #129
@masojus - I'd be fine with dropping support for 3.2 going forward.

[2017-08-03 04:40] masojus commented on #129
We can shuffle this up a bit in priority to hopefully ameliorate the dependency issues @craigds is seeing.

[2017-08-05 07:30] masojus commented on #129
@craigds is the issue that the `requirements.txt` demands `requests>=2.5,<2.11.0`? To rectify that will require more testing.

[2017-08-05 07:33] masojus commented on #129
We could look at what it means to depend upon `2.18.x` or something instead, but either way Python 3.2 testing can go away.

[2017-08-06 22:41] craigds commented on #129
yep that's the issue. I came across this through the git blame, in which that line was added specifically to keep Python 3.2 compatibility: https://github.com/keenlabs/KeenClient-Python/commit/5706ab31e0deac093c7ce0512cebaef2f9f193e2

[2017-09-12 15:37] BlackVegetable commented on #131
I'm inclined to want to include it in `requirements.txt`, but provide some other requirements-like file that could be used to install dependencies for those not running systems with a C compiler. Then changes would need to be made to only import the pycryptodome library if scoped keys were being run, but neither change would be hard. What are your thoughts?

[2017-09-12 15:43] tbarn commented on #109
Are Custom Keys the same as Access Keys in this issue?

[2017-09-12 16:49] mrname commented on #131
In general, people will want to be able to pip install either version. As such, would it make sense to add an `extras` keyword to setup.py for the scoped keys feature? As such, one could `pip install keen` to install without `pycryptodome` and `pip install keen[signed-keys]` to also include requirements required for signed keys?

[2017-09-12 18:21] BlackVegetable commented on #131
If you can think of a way to make the default install include pycryptodome and the alternative to not install it, that'd be better. I worry about making the common-case not feature complete.

[2017-09-12 18:24] mrname commented on #131
Ah, I see what you are saying, makes sense. I don't think that pip has any native features allowing for dependency exclusion, let me look into some alternatives.

[2017-09-12 18:29] dkador commented on #131
I actually think having the base SDK not have scoped key features is fine. As long as we call it out in docs.

[2017-09-12 18:32] BlackVegetable commented on #131
Ah, then that simplifies things. FWIW, I'm going to make a bunch of changes to this codebase in the very near future, so I wouldn't go writing a patch/PR for this just yet.

[2017-09-12 18:59] mrname commented on #131
Sounds good @BlackVegetable let me know if you need any help, thanks!

[2017-09-12 19:06] BlackVegetable commented on #130
Is there a reason we wouldn't want POST to be the default here? @dkador

[2017-09-12 19:07] BlackVegetable commented on #113
@josephwegner Can you give a (brief) example of the kind of thing that would be useful here?

[2017-09-12 19:25] dkador commented on #130
No.

[2017-09-13 15:09] BlackVegetable commented on #130
Changing this will break a lot of tests. The actual change is very simple and works out of the box. Just... the tests are very angry.

[2017-09-13 19:59] BlackVegetable commented on #129
This is being addressed in version 0.5.0 #132

[2017-09-13 20:01] BlackVegetable commented on #109
This is being addressed in version 0.5.0 #132

[2017-09-13 20:43] dkador commented on #130
Yes, we'll need to fix up the tests. :)

[2017-09-14 08:11] arnaudlimbourg opened #133 "Relax requirements on requests"
Hello,

Would it be possible to relax the requirements on the requests package. I've been experimenting with `pipenv` which uses` pip-tools` and complains when there is a mismatch in the dependencies:
[code]

I've been using the `keen` library with an up-to-date requests for a while and there does not seem to be any issue (granted it's not a scientific approach).

Would it be okay to have `>=2.5,<

[2017-09-20 16:42] masojus commented on #113
Off the top of my head, a few things might be handy:
1. Pretty-printing the JSON for request and response payloads
2. More verbose logging of errors beyond what's in the Error string when an Error is raised
3. Dump URLs and headers. Right now, the Error object tends to have the error code and message returned from the server, but in DEBUG mode we could also write detailed info to a given logger.
4

[2017-09-20 16:52] masojus commented on #133
I believe this is addressed in PR #132 as part of fixing Issue #129

[2017-09-20 21:25] arnaudlimbourg commented on #133
Indeed I had missed that, great!

[2017-09-20 21:25] #133 closed

[2017-09-27 22:51] tbarn commented on #107
Removed a comment about a PR that would fix this but didn't get merged to avoid confusion :)

[2017-09-28 13:53] BlackVegetable opened #134 "Add support for order_by Alpha feature"
Order By is an alpha feature that sets an ordering for the results given, when paired with "group_by". As of the time of this writing, it doesn't work with POST requests but that will be fixed shortly (an internal PR addresses it.) Because we currently don't query via POST anyway, this should not be an issue in the interim.

[2017-09-28 21:07] tbarn commented on #107
Data Enrichment is a super useful feature when sending events to Keen IO. You can see more about it here: https://keen.io/docs/streams/data-enrichment-overview/

In the past, I started docs for it, but I never finished and got a pull request merged, so here are some docs I wrote that you can choose to work off of:

#### Data enrichment

Keen IO can enrich event data by parsing or joining it with o

[2017-10-05 19:43] mamat-rahmat commented on #107
I'd like to work on this. Just to make sure, do you mean [this part](https://github.com/keenlabs/KeenClient-Python#send-events-to-keen-io)?

[2017-10-05 20:15] tbarn commented on #107
Yes, at the bottom here:

<img width="482" alt="screen shot 2017-10-05 at 3 00 08 pm" src="https://user-images.githubusercontent.com/2008034/31250227-cb3bd358-a9df-11e7-89f9-77153e1a90f0.png">

Yup, in its own section right before it gets into analysis.

[2017-10-05 20:21] mamat-rahmat commented on #107
I think for code example, i would use [URL Parser](https://keen.io/docs/streams/data-enrichment-overview/#addon-url-parser) as it simple enough to explain the idea. What do you think?

[2017-10-05 20:27] tbarn commented on #107
Sure. It might be helpful to use that one and another one, especially since the Datetime Parser docs have been already partially written.

[2017-10-07 21:31] hydrosquall opened #137 "Breakout Changelog, Create Github Templates"
These changes aren't essential but would shorten the core `README.md`. The Templates would increase the odds that new Issues and PRs filed adhere to a format that the development team would find more useful, potentially saving time and energy for everyone involved in the process.

- Breakout a new `CHANGELOG.md` from the `README.md`
- Add a basic `ISSUE_TEMPLATE` and `PULL_REQUEST_TEMPLATE` based

[2017-10-09 21:16] tbarn commented on #137
Hey @hydrosquall!

I'd be happy to make this work part of Hacktoberfest. Also, including a link to the changelog in the readme would be nice.

Issue and pull requests templates have been on my list of things I'd like to have. If you want to try your hand at one (maybe similar to the JavaScript SDKs one), I'd be happy to collaborate with you on it.

[2017-10-09 21:48] hydrosquall commented on #137
@tbarn - sounds great! I'll put something together and push it up shortly.

[2017-10-10 20:36] tbarn commented on #107
Closed in #136

[2017-10-10 20:36] #107 closed

[2017-10-11 22:01] #137 closed

[2017-10-16 13:57] #134 closed

[2017-10-16 20:48] BlackVegetable commented on #131
Sorry for the delay on this. I'm still working through 1 PR and another branch soon-to-become a PR. If you want to write up a patch here, we can just deal with the merge conflicts later rather than forcing you to wait for my timetable.

[2017-10-18 09:36] hpgmiskin commented on #9
@dkador in response to a comment from 4 years ago I think the raven client for sentry does a very good job of allowing different [transport mechanisms](https://github.com/getsentry/raven-python/blob/master/docs/transports.rst).

I can see from the master branch that the approach for keen is to use a persistence handler though all aside from the default remain unimplimented.

What is the current st

[2017-10-18 16:25] tbarn commented on #9
@hpgmiskin and all -

I just wanted to give a bit of an update with some behind the scenes stuff of the Python SDK. A few weeks ago, a Keen engineer has started to work on the SDK on a semi-regularly basis to get it to a better state. We have prioritized getting it to API parity on Access Keys and Datasets (based on customer requests), as well as any immediate deprecation fixes that needed to be p

[2017-10-19 01:17] masojus commented on #9
Yeah giving the option to use Gevent or greenlets or Twisted or Tornado or whatever as a pluggable mechanism would be nice.

[2017-10-19 15:36] BlackVegetable opened #139 "Add docs for multiple order_by"
### Issue Summary

The existing `order_by` uses in the documentation do not mention how to perform multiple order_bys which mean a primary ordering with a secondary tiebreaker (and possibly tertiary etc.) This should probably be added to the "Advanced" section to avoid overwhelming someone looking for the more common case of ordering by a single property.

We should probably also explain the diffe

[2017-10-20 13:01] hugovk commented on #129
Here's the pip installs for keen from PyPI for the last month:
[code]

How about dropping Python 2.6 as well? It's been EOL since 2013 and pip has already deprecated support for it and will drop it in the next release.

And 3.3 also went EOL last month, perhaps dropping that too?

[2017-10-20 16:01] tbarn commented on #129
Also based on pip data itself [here for 2.6](https://github.com/pypa/pip/issues/3955) and [here for 3.3](https://github.com/pypa/pip/issues/3796), I'm +1 on dropping support of both.

From the pip data, 3.3 is used even less than 2.6.

[2017-10-20 16:17] BlackVegetable commented on #129
Ok. I'm also deprecating 2.6 and 3.3 with the same PR. This thing is getting pretty unwieldy. I'm glad it is being merged today at last.

[2017-10-20 16:26] #129 closed

[2017-10-20 16:26] #109 closed

[2017-10-20 19:15] tbarn commented on #139
I'm going to work on this next week!

[2017-10-22 08:52] iddan opened #140 "Invalid requests dependency"
### Issue Summary

The package requires an invalid version pattern of requests that fails when trying to install with [pipenv](https://github.com/kennethreitz/pipenv)

[code]

### Steps to Reproduce

1. Start a project with pipenv
2. Install keen (`pipenv install keen`)

### Technical details:

* Python Version: 3.6.2
* Operating System: OSX Sierra 10.12.6

[2017-10-23 13:21] BlackVegetable commented on #140
Odd. Regardless, this may be fixed later today when I cut version 0.5.0. The new version requirements for requests is: `requests>=2.5,<3.0`

[2017-10-23 15:57] BlackVegetable commented on #140
0.5.0 has been released. So long as I didn't horribly bork the release, this should be different now. Let me know.

[2017-10-23 16:04] BlackVegetable commented on #131
Given that we've deprecated Scoped Keys, I think I'll completely drop this requirement for the next version and note that the library must be manually installed in the section that talks about the (deprecated) Scoped Keys feature.

[2017-10-26 12:41] masojus opened #142 "Python deprecation issues"
A few straggling issue that are still specific to deprecated/varying versions:
- The TOX config still refers to `py26` , `py32` and `py33` and is missing versions.
- The `setup.py` still [refers to](https://github.com/keenlabs/KeenClient-Python/blob/master/setup.py#L10) some issues with `nose` and `multiprocessing` that might not still apply--worth a quick test.
- This whole `check_project_id()` [

[2017-10-26 13:01] masojus opened #143 "Refactor _error_handling()"
As per comments [here](https://github.com/keenlabs/KeenClient-Python/pull/132#pullrequestreview-65019577).

Also, the `SavedQueriesInterface` I believe has its own version of the get_json/error_handling stuff for some reason, which could possibly be shared.

[2017-10-26 13:03] masojus opened #144 "Expand on Unit Tests"
In their current state, they don't test a lot about the shape or required parameters of the request payload itself. See these [comments ](https://github.com/keenlabs/KeenClient-Python/pull/132#discussion_r145886823) for context.

[2017-10-28 02:07] BlackVegetable commented on #140
@iddan Has this been resolved?

[2017-10-28 18:26] iddan commented on #140
Yes, thank you so much.

[2017-10-28 18:26] #140 closed

[2018-08-29 15:57] arnaudlimbourg opened #148 "Loosen dependencies requirement"
Hello,

Using ``pipenv`` ton install this client there is a versioning issue regarding ``six``.

Currently, ``requirements.txt`` specifies ``six ~=1.10.0`` which fails if 1.11.0 is installed. Usually six requirement is a minimum version but not as strict.

Could you loosen it to ``>=1.10``?

[2018-09-04 00:53] masojus commented on #148
Both #147 and #149 aim to fix this. For `six` I think we could go with `~=1.10` which would pick up any `1.*.*` >= 1.10.0--that should work whether your have/need 1.10 or 1.11 in your environment.

[2018-11-23 07:37] SteadBytes commented on #108
I'd like to take this up - is that ok? I'm thinking of a similar implementation to the [saved queries](https://github.com/keenlabs/KeenClient-Python/blob/45ad5a2523f42f1d3f0f8cb0ece8dd080052149d/keen/saved_queries.py#L15) 😄

[2018-11-23 16:59] BlackVegetable commented on #108
I don't think anyone would stop you! :) Thanks!

[2018-11-26 07:32] SteadBytes commented on #108
Great! Thank you

[2019-01-09 19:19] ChristopherHammond13 commented on #148
Bump: is this issue still being looked at? It's a simple fix but it would be great to have it upstream to remove our `pip install` warnings that we still have in production. Thanks so much!

[2019-01-10 10:17] arnaudlimbourg commented on #148
I ended forking it for as it pipenv would not work otherwise :)

[2019-03-20 08:18] masojus commented on #148
This is fixed with PR# 151

[2019-03-20 08:28] #148 closed

[2019-03-20 09:44] masojus commented on #108
Closed by PR #150

[2019-03-20 09:44] #108 closed

[2019-03-20 16:10] SteadBytes opened #153 "Support include_metadata Query Parameter"
### Issue Summary

Keen provides an `include_metadata=true` query parameter to return execution metadata for ad-hoc queries [docs](https://keen.io/docs/api/#execution-metadata) which is not currently supported.

This would be useful to have as an optional kwarg for the ad-hoc query methods on `KeenClient`.

### Example API's
Return a dictionary with `result` and `execution_metadata` keys:
[code]
R

[2019-03-20 16:57] masojus commented on #153
Providing a means for retrieving execution metadata is certainly on the radar. I haven't thought about how to include it yet, but your examples aren't likely too far off from what we'd want. The optional parameter list for those queries is already fairly large so there might be some consideration for how to future-proof ourselves against having to add parameters like this to 15 call site. I'll thi

[2019-03-21 06:20] SteadBytes commented on #153
@masojus Yes that's a good point, currently we would need to add the kwarg to all of those methods individually. I'll have a think as well 🤔

Would you want to hold off adding `include_metadata` until then?

[2021-01-07 10:40] edmorley opened #161 ""ssl.SSLError: [SSL] internal error (_ssl.c:1123)" on Ubuntu 20.04 due to use of TLSv1.0"
### Issue Summary

On Ubuntu 20.04, API requests made using the Keen Python client fail with:

[code]

This is due to:
* the system OpenSSL defaults for Ubuntu 20.04 now forbidding use of TLS v1.0, as the default `SECLEVEL` was raised from `1` to `2`.
* the Keen Python client forcing use of TLSv1.0 here ([ssl.PROTOCOL_TLSv1 docs](https://docs.python.org/3/library/ssl.html#ssl.PROTOCOL_TLSv1)):
  h

[2021-01-08 10:34] #161 closed

[2021-01-08 10:37] wiktorolko commented on #161
@edmorley thanks for a very detailed description of a problem!

[2021-01-08 17:50] edmorley commented on #161
@wiktorolko No problem - thank you for the fast fix/release! :-)

Confirmed working with the STR above (but using `keen==0.7.0` instead of `keen==0.6.1`), where the client now returns a `ResourceNotFoundError` as expected (since a made up project ID was used), rather than the previous SSL internal error.

[2021-05-12 07:36] clown-wang commented on #161
@edmorley Thanks!I took a very long time to find this answer!